head 
  title use FFProbe to get avideo details: from api.video
  link(rel='stylesheet', href='../style.css')
  link(rel='icon', href='icon.ico', type='image/x-icon')
body
  header.header
    h1 Use FFprobe to get video details

  h2  If you are interested in learning the details of an online video - like the dimensions, bit rate, frame rate, etc.  FFprobe is a great tool to do this. 
    p This tool simply retrieves the metadata from an online video, so you can learn about its makeup.
    
  div.formPadding
    form(action="/probe" method = "GET").form  
      p
        |Video url: 
        input(type='text', name='url', value='https://cdn.api.video/vod/vi4blUQJFrYWbaG44NChkH27/mp4/1080/source.mp4').input
     
      input(type='submit', value='Go!')
        
  
    p This app was created with <a href="https://api.video">api.video</a>.<br/>
    p Get the <a href="https://github.com/dougsillars/ffprobeavideo">sample code</a>, and read about <a href="https://a.video/works/ffprobe-a-video">how we built the demo.</a><br/>
    p More sample apps can be found at <a href="https://a.video">a.video</a>.

