.header {
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
  width: 100%;
  color: #FFFFFF;
  background-color: #525286
  
  }
.formPadding{
 padding: 2%;
}
  
  
.form {
  width: 75%;
  font-size: x-large;
  background: #fff;
  padding: 20px;
  border-style: solid;
  border-color: green;
  border-width: 3px;


}

#results {
  font-size: x-large;
 


}
#format{
  padding: 10px;

  color: darkslategray;
}
#streams{
  padding: 20 px;

  color: black;

}
#footer {
  background-color: darkgray;
  font-size: x-large;
  color: black;


}

.input{
 width: 75%;

}